.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}

.toggle-switch input[type="checkbox"] {
    display: none;
}

.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #aaa;
  border-radius: 30px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 26px;
  height: 26px;
  background-color: #eee;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(20px);
}
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: #0ba820;
}