/*  <row-start> / <column-start> / <row-end> / <column-end>   */


#clear{
  grid-area: 1 / 1 / 2 / 3;
}
#equals{
  grid-area: 4 / 4 / 6 / 5;
}
#zero {
  grid-area: 5 / 1 / 6 / 2;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  background-color: black;

  position: fixed;
  bottom: 0;
  right: 0;
}

.keyboard{
  width: 300px;
  height: 375px;
  background-color: black;
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);

  gap: 1px 1px; /*row column*/
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
}
.key{
  font-family: sans-serif;
  font-size: 35px;
  border: none;
  border-radius: 20px;
  margin: 3px;
}
.num{
  background-color: #151515;
  color: white;
}
.clr{
  background-color: rgb(255, 44, 29);
  color: white;
}
.equ{
  background-color: #ff9e0c;
  color: white;
}
.opp{
  background-color: #a5a5a5;
  color: black;
}

.display{
  width: 300px;
  padding: 10px 10px 0 10px;
  height: 100px;
  background-color: black;
  overflow:hidden
;
}
.display p {
  font-family: sans-serif;

  color: white;
  font-size: 50px;
  text-align: right;
  margin: 0;
}
.display #display-formula {
  color: #ff9e0c;
  font-size: 20px;
}

.console{
  width: 285px;
  padding: 5px 0 5px 15px;

  border-radius: 0 0 15px 15px;

  background-color: #151515;
  color: white;
  font-size: 10px;
  line-height: 2px;
  text-align: left;

  border-top: solid 1px rgb(48, 48, 48);
}

.console p {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 0px;
  color: #ccc;
}

.console-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 270px;
  padding: 0 15px;
  
  font-family: sans-serif;
  font-size: 20px;
  line-height: 15px;
  color: #ccc;

  background-color: #151515;
}

.console-label{
  flex-grow: 1;
}

@media only screen and (max-width: 600px) {
  .keyboard {
    width: 90vw;
    height: 112vw;
  }
  .display {
    width: 90vw;
    margin-top: 5vh;
  }
  .console-control {
    width: 80vw;
    padding: 0 5vw;
  }
  .console {
    width: 85vw;
    padding: 5px 0 5px 5vw;
  }

}